.header {
    background-color: rgba(10,20,30,0.3);
    border: 0px solid #000; /* додаємо рамку */
    padding: 20px; /* відступи всередині заголовка */
    height: 50px;
}

h1 {
    color: #fff; /* змінюємо колір тексту */
    margin: 0; /* видаляємо зовнішні відступи */
    margin-left: 25px;
    font-size: 45px;
}

nav ul {
    list-style: none; /* видаляємо маркери списку */
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-flex; /* розміщуємо елементи списку в ряд */
    padding: 25px;
    margin-top: -25px;
}
.contact{
    margin-left: 900px;
}

nav li  {
    margin-right: 0px; /* видаляємо відстань для останнього елементу */
    font-size: 25px;
}

nav a {
    color: #fff; /* змінюємо колір тексту посилань */
    text-decoration: none; /* видаляємо підкреслення */
    padding: 5px 10px; /* відступи всередині кнопки */
    border: 2px solid #fff; /* додаємо рамку */
    border-radius: 10px; /* закруглюємо кути */
}

nav a:hover {
    background-color: #fff; /* змінюємо фон кнопки при наведенні курсора */
    color: #333; /* змінюємо колір тексту при наведенні курсора */
}
body{
    margin: 0;
    background-image: url("img/full-screen-hd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(1,1,1,0,1%);
}
h1{
    opacity: 65%;
    font-size: 80px;
    margin-left: 0px;
    color: white;
    margin-top: 15px;
}
@font-face {
    font-family: myFont;
    src: url('img/Gilroy-Regular.ttf');
}

body {
    font-family: myFont, sans-serif;
}
.projects{
    margin-left: 47px;
}
h3{
    opacity: 75%;
    font-size: 50px;
    width: 75%;
    color: black;
    margin-left: 50px;
    margin-top: 100px;
}
.pr1:hover{
    width: 25%;
    transform: scale(1.04);
    color: white;
    box-shadow: 0 9px 9px rgba(55, 75, 80, 10);
}
.pr1{
    width: 25%;
    border: 3px solid black;
}

