.header {
    background-color: rgba(10,20,30,0.3);
    border: 0px solid #000; /* додаємо рамку */
    padding: 20px; /* відступи всередині заголовка */
    height: 50px;
}

h1 {
    color: #fff; /* змінюємо колір тексту */
    margin: 0; /* видаляємо зовнішні відступи */
    margin-left: 25px;
    font-size: 45px;
}

nav ul {
    list-style: none; /* видаляємо маркери списку */
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-flex; /* розміщуємо елементи списку в ряд */
    padding: 25px;
    margin-top: -25px;
}
.contact{
    margin-left: 1100px;
}

nav li  {
    margin-right: 0px; /* видаляємо відстань для останнього елементу */
    font-size: 25px;
}

nav a {
    color: #fff; /* змінюємо колір тексту посилань */
    text-decoration: none; /* видаляємо підкреслення */
    padding: 5px 10px; /* відступи всередині кнопки */
    border: 2px solid #fff; /* додаємо рамку */
    border-radius: 10px; /* закруглюємо кути */
}

nav a:hover {
    background-color: #fff; /* змінюємо фон кнопки при наведенні курсора */
    color: #333; /* змінюємо колір тексту при наведенні курсора */
}
body{
    margin: 0;
    background-image: url("img/imgonline-com-ua-Resize-WEEeitGuBskv.jpg");
    background-repeat: no-repeat;
    background-size: cover ;
    font-family: 'Open Sans', sans-serif;
}
P{
    font-size: 60px;
    margin-left: 550px;
    color: gainsboro;
    margin-top: 300px;
}
.chiks{
    font-size: 60px;
    margin-left: 785px;
    color: gainsboro;
    margin-top: -75px;
}
@font-face {
    font-family: myFont;
    src: url('img/Gilroy-Regular.ttf');
}

body {
    font-family: myFont, sans-serif;
}
.years{
    font-size: 60px;
    margin-left: 985px;
    color: gainsboro;
    margin-top: -75px;
}
.inst{
    width: 60px;
    margin-left: 1500px;
    margin-top: 800px;
}

